*.hi
*.o
*.aux
*.log
*.out

*.comm
*.gi
*.in
*.op
*.remc
*.remp
*.remps
*.pps
*.ppconsts
*.dummydecls
*.remcf
*.ppsf
*.preppconst
*.prcppconst
*.ppconst
*.ppcond
*.ppmacros
*.prcppflags
*.ppflags
*.prcppincl
*.ppincl
*.ppcomm

doc/gencot-devel.pdf

test/ast/
test/comments/
test/const/
test/decls/
test/directives/
test/includes/
test/lines/
test/general/
test/nested/
test/parmod/
test/typedef/
test/antiquote/
test/auxcog-macros/
test/combine/

bin/callgraph-print
bin/gencot-check
bin/gencot-deccomments
bin/gencot-dvdtypes
bin/gencot-externs
bin/gencot-exttypes
bin/gencot-translate
bin/parmod-externs
bin/parmod-gen
bin/parmod-proc
bin/items-proc
bin/dump-c-ast
