*.hi
*.o
*.aux
*.log
*.out
*.hcomm
*.hgi
*.ho
*.hop
*.hremc
*.hremp
*.hpps
*.hppconsts
*.hpreppconst
*.hdummydecls
*.hremcf
*.hppsf
*.hppcond
*.ccomm
*.cgi
*.ci
*.co
*.cop
*.cremc
*.cremp
*.cpps
*.cppconsts
*.cpreppconst
*.cdummydecls
*.cremcf
*.cppsf
*.cppcond
