*.hi
*.o
*.aux
*.log
*.out

*.comm
*.gi
*.in
*.op
*.remc
*.remp
*.remps
*.pps
*.ppconsts
*.dummydecls
*.remcf
*.ppsf
*.preppconst
*.prcppconst
*.ppconst
*.ppcond

doc/gencot-devel.pdf
src/gencot-translate

test/ast/
test/comments/
test/const/
test/decls/
test/directives/
test/includes/
test/lines/
