#ORIGIN 1 +
1
#ENDORIG 1 +
#ORIGIN 2 +
#define A
#ENDORIG 2 +
#ORIGIN 3 +
3
#ORIGIN 6 +
6
#ORIGIN 7 +
7
#ORIGIN 9 +
9
#ORIGIN 48 +
48
#ORIGIN 10 +
10
#ORIGIN 13 +
13
#ORIGIN 14 +
#include "other"
#ENDORIG 14 +
#ORIGIN 15 +
15
#ORIGIN 17 +
17
#ORIGIN 19 +
19
#ENDORIG 19 +
#ORIGIN 20 +
20
#ORIGIN 24 +
#define ABC 42
#ORIGIN 27 +
27
#ORIGIN 29 +
29
#ORIGIN 31 +
31
#ORIGIN 13 +
13
#ORIGIN 33 +
33
#ORIGIN 35 +
35
#ORIGIN 37 +
37
#ORIGIN 40 +
40
#ORIGIN 42 +
42
#ORIGIN 44 +
44
#ORIGIN 46 +
46
#ORIGIN 48 +
48
#ORIGIN 50 +
50
